{% extends 'sites/base.html' %}
{% block title %}首页{% endblock %}
{% block main %}
    <!--
Welcome Slider
==================================== -->

<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s" >你好，我是Aloneidiot <br> 帮助人们搭建起博客站点，快速、稳定、以及不受任何约束！</h2>
					<p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Aloneidiot博客系统是基于Python编写的面向个人的博客系统。</p>
					<ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
						<li>
							<a data-scroll href="#services" class="btn btn-main">关于我们</a>
						</li>
						<li>
							<a data-scroll href="#team" class="btn btn-transparent">查看更多</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center"  >
        <h2>给访客留下美好印象</h2>
        <p>建立一个精致、独特的站点，轻松打造您的专属品牌。使用精心挑选的字体、颜色和图片，或添加您的自定义元素。</p>
        <div class="border"></div>
      </div>
      <!-- /section title -->

      <div class="col-md-4 text-center">
        <img src="static/sites/images/about/member.jpg" class="inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-alarm-outline"></i>
              <h4>建立您的读者群</h4>
              <p>利用全面的搜索、社交媒体和付费广告等营销工具，吸引和增加您的关注量。开始使用即可获得我们提供的 100 美元广告赠送金额。</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>加入社区</h4>
              <p>我们的专家通过电子邮件或实时聊天为您提供全天候支持服务。通过指导课程、活动以及与我们全球社区中的客户在论坛中交流，您将越来越专业。</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-email-outline"></i>
              <h4>安装插件和自定义主题</h4>
              <p>向您的站点添加其他功能，例如高级图库、表单、电子邮件订阅、投票、评论等等。</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>我们的安全服务值得您的信赖</h4>
              <p>每个 WordPress.com 站点均内置垃圾邮件防护功能，保护您的站点安全。同时您的站点还具备自动备份功能。</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div>    <!-- End row -->
  </div>    <!-- End container -->
</section>   <!-- End section -->

<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="title text-center"  >
				<h2>随时随地创建和编辑</h2>
				<p>在任意设备上流畅地启动、更新和查看您的站点。只要有互联网连接，无需办公桌也可办公。</p>
				<div class="border"></div>
			</div>
			<!-- /section title -->

			<div class="col-md-6">
				<img src="static/sites/images/about/about-2.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
                    <li>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li>
                    <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li>
                    <li>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li>
                    <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                    <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li>
                </ul>
				<a href="#" class="btn btn-main mt-20">Learn More</a>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->

<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Customers love Aloneidiot</h2>
				<p>改变业务重点意味着需要进行大量工作来重塑品牌和重新命名。为在社交媒体上重塑第一印象，我们需要做出改变，Aloneidiot.com 让这种改变轻松易行。</p>
				<a href="" class="btn btn-main">联系我们</a>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->

<!--
		Start Counter Section
		==================================== -->

		<section  class="counter-wrapper section-sm" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="title">
							<h2>选择您的 Aloneidiot.com 风格</h2>
							<p>Power up your website or blog with a powerful plan that works for you.</p>
						</div>
					</div>
					<!-- first count item -->
					<div class="col-md-4 col-sm-6 col-xs-6 text-center " >
						<div class="counters-item">
							<i class="tf-ion-ios-alarm-outline"></i>
							<div>
							    <span class="" data-count="个人版">个人版</span>
							</div>
							<h3>¥25</h3>
                            <h4>每月（按年计费）</h4>
						</div>
					</div>
					<!-- end first count item -->

					<!-- second count item -->
					<div class="col-md-4 col-sm-6 col-xs-6 text-center " >
						<div class="counters-item">
							<i class="tf-ion-ios-analytics-outline"></i>
							<div>
							    <span class="" data-count="高级版">高级版</span>
							</div>
							<h3>¥25</h3>
                            <h4>每月（按年计费）</h4>
						</div>
					</div>
					<!-- end second count item -->

					<!-- third count item -->
					<div class="col-md-4 col-sm-6 col-xs-6 text-center "  >
						<div class="counters-item kill-border">
							<i class="tf-ion-ios-compose-outline"></i>
							<div>
							    <span class="" data-count="商务版">商务版</span>
							</div>
				            <h3>¥150</h3>
                            <h4>每月（按年计费）</h4>
						</div>
					</div>
					<!-- end third count item -->

				</div> 		<!-- end row -->
			</div>   	<!-- end container -->
		</section>   <!-- end section -->

<!-- Start Testimonial
=========================================== -->

<!--
		Start Blog Section
		=========================================== -->

	<section class="blog" id="blog">
		<div class="container">
			<div class="row">

				<!-- section title -->
				<div class="title text-center ">
					<h2> Aloneidiot.com 免费版</h2>
					<div class="border"></div>
					<p>终身</p>
				</div>
				<!-- /section title -->

				<!-- single blog post -->
				<article class="col-md-12 text-center">
					<div class="post-item">
						<div class="media-wrapper">
							<img src="static/sites/images/blog/post-2.jpg" alt="amazing caves coverimage" class="img-responsive">
						</div>

						<div class="content">
							<h3><a href="single-post.html">从免费版开始</a></h3>
							<p>如果您只是想开始创建自己的网站，那么首先获取一个免费站点，不到 5 分钟就可以发布您的第一篇文章。</p>
							<a class="btn btn-main" href="single-post.html">更多...</a>
						</div>
					</div>
				</article>
				<!-- end single blog post -->

			</div> <!-- end row -->
		</div> <!-- end container -->
	</section> <!-- end section -->
{% endblock %}