<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aloneidiot Cms Blog Python Django">

  <meta name="author" content="Aloneidiot.com">

  <title>{{ sites_title }}</title>

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="static/cms/img/favicon.png" />

  <!-- CSS
  ================================================== -->
  <!-- RS5.0 Main Stylesheet -->
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/css/settings.css">
  <!-- RS5.0 Layers and Navigation Styles -->
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/css/layers.css">
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/css/navigation.css">
  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/css/settings.css">
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/css/layers.css">
  <link rel="stylesheet" type="text/css" href="static/cms/plugins/revo-slider/css/navigation.css">
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="static/cms/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="static/cms/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="static/cms/plugins/lightbox2/dist/css/lightbox.min.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="static/cms/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="static/cms/plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="static/cms/css/style.css">

  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="static/cms/css/colors/green.css" title="green">
  <link rel="stylesheet" type="text/css" href="static/cms/css/colors/red.css" title="light-red">
  <link rel="stylesheet" type="text/css" href="static/cms/css/colors/blue.css" title="blue">
  <link rel="stylesheet" type="text/css" href="static/cms/css/colors/light-blue.css" title="light-blue">
  <link rel="stylesheet" type="text/css" href="static/cms/css/colors/yellow.css" title="yellow">
  <link rel="stylesheet" type="text/css" href="static/cms/css/colors/light-green.css" title="light-green">

</head>

<body id="body">

<!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->