{% load static %}
<footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://Aloneidiot.com/" title="Open Source Python Blog CMS...">Aloneidiot</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script src="{%  static 'sites/js/jquery.js' %}"></script>
    <script src="{%  static 'sites/js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'sites/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{%  static 'sites/js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'sites/js/jquery.isotope.min.js' %}"></script>
    <script src="{%  static 'sites/js/main.js' %}"></script>
</body>

</html>
