{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <title>{{sites_title}}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="bookmark" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sites/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'sites/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'sites/bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>