{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | {{ sites_title }}</title>

    <!-- core CSS -->
    <link href="{%  static 'sites/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/animate.min.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/icomoon.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/main.css' %}" rel="stylesheet">
    <link href="{%  static 'sites/css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{%  static 'sites/js/html5shiv.js' %}"></script>
    <script src="{%  static 'sites/js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{%  static 'sites/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%  static 'sites/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%  static 'sites/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%  static 'sites/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{%  static 'sites/images/ico/apple-touch-icon-57-precomposed.png' %}">
</head>
<!--/head-->

<body class="homepage">