<!--
Fixed Navigation
==================================== -->
<header class="navigation navbar navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <!-- responsive nav button -->
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <!-- /responsive nav button -->
         <!-- logo -->
         <a class="navbar-brand logo" href="index.html">
            <img class="logo-default" src="static/cms/images/logo.png" alt="logo" />
            <img class="logo-white" src="static/cms/images/logo-white.png" alt="logo" />
         </a>
         <!-- /logo -->
      </div>
      <!-- main nav -->
      <nav class="collapse navbar-collapse navbar-right">
         <ul id="nav" class="nav navbar-nav menu">
             {% if nav_list %}
                            {% for nav in nav_list %}
                                     <li><a href="{{nav.url}}">{{nav.title}}</a></li>
                            {% endfor %}
                        {% endif %}
               <!--<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li><a href="404.html">404 Page</a></li>
                     <li><a href="blog.html">Blog Page</a></li>
                  </ul>
               </li>-->
         </ul>
      </nav>
      <!-- /main nav -->
   </div>
</header>
<!--
End Fixed Navigation
==================================== -->
